
html{
    position: relative;
}

body{
    margin-bottom: 50px;
}

.jumbotron img {
    width: 200px;
    border: 5px solid aliceblue;
}

hr{
    width: 250px;
    border-top: 3px solid #999999
}

section {
    min-height: 600px;
    padding: 20px;
}

.portfolio{
    background-color: #eeeeee;
    min-height: 1300px;
}

.contact{
    min-height: 800px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    
}

footer p {
    color: white;
    font-size: 0.8em;
    padding-top: 15px;
}

